<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shinjin.twone.dao.BoardDAO" >

    <!-- 샘플 보드 생성 -->
    <insert id="createsampleboard" useGeneratedKeys="true" keyProperty="boardSeq" parameterType="BoardDTO">
        <selectKey keyProperty="boardSeq" resultType="int" order="BEFORE">
            SELECT nextval('board_seq') AS board_seq FROM dual
        </selectKey>
        INSERT INTO t_board
        VALUES (#{boardSeq}, #{projectSeq}, '샘플 보드')
    </insert>

    <!-- 보드 생성 -->
    <insert id="addBoard" useGeneratedKeys="true" keyProperty="boardSeq" parameterType="BoardDTO">
        <selectKey keyProperty="boardSeq" resultType="int" order="BEFORE">
            SELECT nextval('board_seq') AS board_seq FROM dual
        </selectKey>
        INSERT INTO t_board
        VALUES (#{boardSeq}, #{projectSeq}, #{boardName})
    </insert>

    <!-- 보드 리스트 불러오기 -->
    <select id="getBoardList" parameterType="int" resultType="BoardDTO">
        SELECT *
        FROM t_board
        WHERE project_seq = #{projectSeq}
        ORDER BY board_seq DESC
    </select>

    <!-- 최근 생성한 boardDTO 불러오기 -->
    <select id="getLatestBoardDTO" parameterType="int" resultType="BoardDTO">
        SELECT *
        FROM t_board
        WHERE project_seq = #{projectSeq}
          and board_seq = (SELECT MAX(board_seq) FROM t_board WHERE project_seq = #{projectSeq})
    </select>

    <!-- boardDTO 불러오기 -->
    <select id="getBoardDTO" parameterType="int" resultType="BoardDTO">
        SELECT *
        FROM t_board
        WHERE board_seq = #{boardSeq}
    </select>

    <!-- 보드 삭제 by boardSeq -->
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM t_board
        WHERE board_seq = #{boardSeq}
    </delete>

    <!-- 보드 삭제 by projectSeq -->
    <delete id="deleteBoardByProjectSeq" parameterType="int">
        DELETE FROM t_board
        WHERE project_seq = #{projectSeq}
    </delete>

</mapper>