<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shinjin.twone.dao.ColDAO" >

    <!-- 샘플 컬럼 생성 -->
    <insert id="createsamplecolumn" useGeneratedKeys="true" keyProperty="colSeq" parameterType="ColDTO">
        <selectKey keyProperty="colSeq" resultType="int" order="BEFORE">
            SELECT nextval('col_seq') AS col_seq FROM dual
        </selectKey>
        INSERT INTO t_col
        VALUES (#{colSeq}, #{boardSeq}, '샘플 컬럼', 0)
    </insert>

    <!-- 컬럼 생성 -->
    <insert id="addColumn" parameterType="ColDTO">
        INSERT INTO t_col
            (col_seq, board_seq, col_name, col_type)
        VALUES
            ((SELECT nextval('col_seq') AS col_seq FROM dual), #{boardSeq}, #{colName}, 0)
    </insert>

    <!-- 컬럼 리스트 불러오기 -->
    <select id="getColList" parameterType="int" resultType="ColDTO">
        SELECT *
        FROM t_col
        WHERE board_seq = #{boardSeq}
    </select>

    <!-- 컬럼 삭제 -->
    <delete id="deleteColumn" parameterType="int">
        DELETE FROM t_col
        WHERE col_seq = #{colSeq}
    </delete>

</mapper>