<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shinjin.twone.dao.CommentDAO" >

  <!-- 댓글 등록 -->
  <insert id="addComment" useGeneratedKeys="true" keyProperty="commentDate" parameterType="CommentDTO">
    <selectKey keyProperty="commentDate" resultType="Date" order="BEFORE">
      SELECT NOW() FROM dual
    </selectKey>
    INSERT INTO t_comment
    VALUES ((SELECT nextval('comment_seq') AS comment_seq FROM dual), #{issueSeq}, #{memSeq}, #{commentDate}, #{commentValue})
  </insert>

  <!-- 댓글 수정 -->
  <update id="updateCommentValue" parameterType="CommentDTO">
    UPDATE t_comment
    SET comment_value = #{commentValue}
    WHERE comment_seq = #{commentSeq}
  </update>

  <!-- CommentDTO 불러오기 -->
  <select id="getCommentDTO" parameterType="int" resultType="CommentDTO">
    SELECT *
    FROM t_comment
    WHERE comment_seq = #{commentSeq}
  </select>

  <!-- CommentList 불러오기 -->
  <select id="getCommentList" parameterType="int" resultType="CommentDTO">
    SELECT *
    FROM t_comment
    WHERE issue_seq = #{issueSeq}
    ORDER BY comment_seq DESC
  </select>

  <!-- 댓글 삭제 -->
  <delete id="deleteComment" parameterType="int">
    DELETE FROM t_comment
    WHERE comment_seq = #{commentSeq}
  </delete>

</mapper>