<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shinjin.twone.dao.IssueFormDAO" >

    <!-- 이슈폼 리스트 불러오기 by issueSeq -->
    <select id="getIssueFormList" parameterType="int" resultType="IssueFormDTO">
        SELECT *
        FROM t_issueform
        WHERE issue_seq = #{issueSeq}
    </select>

    <!-- 이슈폼 삭제 -->
    <delete id="deleteIssueForm" parameterType="int">
        DELETE FROM t_issueform
        WHERE issueform_seq = #{issueFormSeq}
    </delete>

    <!-- 이슈폼 자식 테이블 삭제 -->
    <delete id="deleteFormsUnderIssue" parameterType="IssueFormDTO">
        DELETE FROM #{formsTableName}
        WHERE #{formsColName} = #{formsSeq}
    </delete>

</mapper>