<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shinjin.twone.dao.LinkedIssueDAO" >

  <!-- 이슈 링크하기 -->
  <insert id="addIssueLink" parameterType="LinkedIssueDTO">
    INSERT INTO t_linked_issue
    VALUES ((SELECT nextval('linked_seq') AS linked_seq FROM dual), #{linkedMain}, #{issueSeq})
  </insert>

  <!-- 이슈 링크 해제 -->
  <delete id="deleteIssueLink" parameterType="LinkedIssueDTO">
    DELETE FROM t_linked_issue
    WHERE linked_seq IN (SELECT linked_seq FROM (SELECT linked_seq FROM t_linked_issue WHERE linked_main = #{linkedMain} AND issue_seq = #{issueSeq}) temp)
       OR linked_seq IN (SELECT linked_seq FROM (SELECT linked_seq FROM t_linked_issue WHERE linked_main = #{issueSeq} AND issue_seq = #{linkedMain}) temp);
  </delete>

</mapper>