<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shinjin.twone.dao.MemDAO" >

    <!-- 회원가입 -->
    <insert id="signup" parameterType="MemDTO">
        INSERT INTO t_mem
        (mem_seq, mem_email, mem_name, mem_pw
        , mem_cert, mem_pwexpiry, mem_delcheck
        , mem_image, mem_position, mem_dept, mem_company)
        VALUES
            ((SELECT nextval('mem_seq') AS mem_seq FROM dual), #{memEmail}, #{memName}, #{memPw}
            , 0, (SELECT DATE_ADD(NOW(), INTERVAL 6 MONTH)), 0
            , null, null, null, null)
    </insert>

    <!-- 회원탈퇴 -->
    <update id="withdraw" parameterType="MemDTO">
        UPDATE t_mem
        SET mem_delCheck = 1
        WHERE mem_seq = #{memSeq} and mem_pw = #{memPw}
    </update>

    <!-- 회원정보 수정 -->
    <update id="updateMemInfo" parameterType="MemDTO">
        UPDATE t_mem
        SET mem_image = #{memImage},
            mem_name = #{memName},
            mem_position = #{memPosition},
            mem_dept = #{memDept},
            mem_company = #{memCompany}
        WHERE mem_seq = #{memSeq}
    </update>

    <!-- 비밀번호 변경 -->
    <update id="changePw" parameterType="MemDto">
        UPDATE t_mem
        SET mem_pw = #{memPw}
        WHERE mem_seq = #{memSeq}
    </update>

    <!-- 중복 이메일 확인 -->
    <select id="checkDupl" parameterType="String" resultType="int">
        SELECT mem_delcheck
        FROM t_mem
        WHERE mem_email = #{memEmail}
    </select>

    <!-- 로그인 -->
    <select id="login" parameterType="MemDTO" resultType="MemDTO">
        SELECT *
        FROM t_mem
        WHERE mem_email = #{memEmail} and mem_delcheck = 0
    </select>

    <!-- memDTO 불러오기 -->
    <select id="getDto" parameterType="int" resultType="MemDTO">
        SELECT *
        FROM t_mem
        WHERE mem_seq = #{memSeq}
    </select>

    <!-- 비밀번호 일치 여부 확인 -->
    <select id="getPw" parameterType="int" resultType="String">
        SELECT mem_pw
        FROM t_mem
        WHERE mem_seq = #{memSeq}
    </select>



</mapper>