<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shinjin.twone.dao.TeamDAO" >

    <!--팀 구성원 리스트 -->
    <select id="selectTeamList" parameterType="int" resultType="Hashmap">
        SELECT ifnull(m.mem_image,"") mem_image, ifnull(m.mem_position,"") mem_position, ifnull(m.mem_dept,"") mem_dept, ifnull(m.mem_company,"") mem_company
             ,m.mem_seq, m.mem_email, m.mem_cert, m.mem_delcheck, m.mem_name, t.team_allow
        FROM t_team t, t_mem m
        where t.project_seq = #{seq} and t.mem_seq = m.mem_seq
        order by team_allow asc;
    </select>

    <!-- 팀의 리더 seq 가져오기    -->
    <select id="leaderSeq" resultType="int">
        select t_project.mem_seq
        from t_project
        where project_seq =#{seq};
    </select>

    <!-- 권한 변경   -->
    <update id="changeAllow" parameterType="TeamDTO">
        update t_team set team_allow = #{teamAllow} where mem_seq = #{memSeq} and project_seq=#{projectSeq}
    </update>

    <!-- 팀 사용자 추가   -->
    <insert id="memberAdd" parameterType="Hashmap">
        insert into t_team (team_seq, project_seq, mem_seq, team_allow)
        values ((select nextval('team_seq') from dual), #{pSeq},#{mSeq},2);

    </insert>

    <!-- 사용자 존재 여부-->
    <select id="checkMember" parameterType="String" resultType="MemDTO">
        select * from t_mem where mem_email=#{email}
    </select>

    <!-- 팀 테이블 한 레코드 가져오기-->
    <select id="checkOne" parameterType="Hashmap" resultType="TeamDTO">
        select * from t_team where project_seq=#{pSeq} and mem_seq=#{mSeq};
    </select>

    <select id="selectOne" parameterType="Hashmap" resultType="Hashmap">
        select * from t_team where project_seq=#{pSeq} and mem_seq=#{mSeq};
    </select>

    <!-- 팀사용자 삭제 -->
    <delete id="deleteMember" parameterType="TeamDTO">
        delete from t_team where project_seq=#{projectSeq} and mem_seq=#{memSeq};
    </delete>




</mapper>